*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
html{
    font-family: "Open Sans",sans-serif;
}
/* navbar */
#navbar{
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a{
    padding: 0.75rem;
}
#navbar ul li a:hover{
    background: rgb(255, 167, 3);
    border-radius: 5px;

}

/* home section */

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-bottom: 2px solid grey;
}

#home img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#home .name h2{
    margin-bottom: 0.75 rem;
}

#home .name p{
    opacity: 0.6;
    font-style: italic;
}

/* Hakkımda */

#hakkimda{
    color: white;
    padding: 1rem;
}

#hakkimda .items{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#hakkimda .items .item{
    width: 50%;
    text-align: center;
    padding: 0.5rem;
}

#hakkimda .items .item img{
    border: 2px solid black;
}

#hakkimda .items .item img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


/* Eğitim sayfaı */

#edu .items{
    display: flex;
    justify-content: space-between;
}

#edu .items .item{
    color: white;
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}

#edu .items .item ul{
    
    padding:0 0.75rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    
}

#edu .items .item ul li{
    display: flex;
    text-align: center;
    width: 20%;
    padding: 1.25rem;
}

#edu .items .item ul li:hover{
    
    background: rgb(255, 167, 3) ;
    border-radius: 3px;
    border: 0.5px solid black;
}

#edu .items .item:hover{
    color: rgb(110, 29, 29);
}

#edu .items .item img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#edu .items .item img{
    width: 100%;
    max-width: 1200px;
}
